@font-face {
    font-family: 'Pixelify_Sans';
    src: url(Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 50px;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Pixelify_Sans';
}

html{
    background: url('medieval-landscape.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    background-color: rgba(255, 255, 255, 0.4);
}

.heading{
    padding: 0;
    margin: 0;
    font-size: calc(16px + 5vw);
    text-align: center;
    letter-spacing: 20px;
}

h2{
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: calc(16px + 4vw);
}

h3 {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: calc(16px + 2vw);
}

#weapon-list{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 800px) {
    .score-card {
        flex-direction: column;
        justify-content: center;
    }
}

.sword,
.shield,
.bow {
    border-radius: 40px;
    border: solid black 7px;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    flex-basis: 25vw;
    min-width: 200px;
    align-self: center;
}

.sword {
    background: url("sword2.png") no-repeat rgba(255, 255, 255, 0.5);
    background-size: 80%;
    background-position: center;
}

.shield {
    background: url("shield2.png") no-repeat rgba(255, 255, 255, 0.5);
    background-size: 80%;
    background-position: center;
}

.bow {
    background: url("bow2.png") no-repeat rgba(255, 255, 255, 0.5);
    background-size: 80%;
    background-position: center;
}

#outcome-message {
    flex-grow: 1;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
}

.score-card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.score-counter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 10px 20px;
    border: solid black 5px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.5);
}

.player-name,
.adversary-score,
.champion-score{
    font-size: calc(16px + 3vw);
    text-align: center;
}

.hovered-weapon{
    background-color: rgb(255, 255, 255);
}